.qaSection {
  color: #808080;
  display: flex;
  align-items: center;
  padding: 40px 250px !important;
}

.qaSection > * {
  flex: 1 100%;
}

.qaTitle {
  color: #808080;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 35px;
}

.searchBoxSection {
  border: solid 1px #808080;
  padding: 10px;
  text-align: start;
  font-weight: 400;
  margin-bottom: 35px;
  display: flex;
}

input[type=text] {
  width: 90%;
  padding: 12px 10px;
  margin: 8px 10px;
  box-sizing: border-box;
  border: hidden;
  background-color: #F5EFED;
  font-size: 20px;
  font-weight: 500;
  color: #808080;
  outline: none;
}

.searchIcon {
  margin-top: 10px;
  font-size: 40px;
}

.questionBody {
  display: flex;
  margin-bottom: 15px;
  font-size: 20px;
}

.questionLetter {
  font-weight: 500;
  margin-right: 5px;
  font-size: 23px;
}

.questionText {
  font-weight: 500;
  flex-grow: 2;
  font-size: 23px;
}

.questionHelpful {
  font-weight: 500;
  margin-left: 20px;
}

.questionHelpfulness {
  font-weight: 400;
  color: #D96C06;
  font-weight: 14px;
  text-decoration: underline;
  margin-left: 20px;
}

.questionAddAnswer {
  font-weight: 400;
  color: #D96C06;
  font-weight: 14px;
  text-decoration: underline;
  margin-left: 20px;
}

.answerSection {
  font-weight: 400;
  font-size: 20px;
}

.answerBody {
  display:flex;
}

.answerMeta {
  display:flex;
  margin: 25px 10px 25px 20px;
}

.answerLetter {
  font-weight: 500;
  margin-right: 5px;
  font-size: 20px;
}

.answerDate {
  margin-left: 20px;
}

.answerHelpful {
  margin-left: 20px;
  font-weight: 500;
}

.answerHelpfulness {
  margin-left: 20px;
  color:#D96C06;
  text-decoration: underline;
}

.answerReport {
  margin-left: 20px;
  text-decoration: underline;
  font-weight: 400;
  color: #D96C06;
}

.loadMoreAnswers {
  margin: 20px;
  font-weight: 500;
}


button {
  background-color: #26A7BA;
  font-size: 15px;
  color: #fff;
  padding: 20px;
  margin-right: 20px;
  line-height: 20px;
}

button:hover {
  background-color: #fff;
  color: #26A7BA;
  border: solid 2px #26A7BA;
}

