body {
  background-color: #F5EFED;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: #808080
}

button {
  background-color: #26A7BA;
  font-size: 15px;
  color: #fff;
  padding: 20px;
  margin-right: 20px;
  line-height: 20px;
  border-radius: 10px;
  border: solid 2px  #26A7BA;
  transition: all 0.3s;
}

button:hover {
  background-color:#fff;
  color: #26A7BA;
  border: solid 2px #26A7BA;
}

.topSearchBar {
  background-color: #FBA860;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2%;
}

.fireLogo {
  color: #fff;
  padding: 10px 10px 10px 50px;
  width: 90%
}

.searchBarInput {
  display: flex;
  justify-content: flex-end;
}

.searchInput {
  background-color: #FBA860;
  box-sizing: border-box;
  border: hidden;
  border-bottom: 3px solid #fff;
  margin-bottom: 10px;
}

.searchBarIcon {
  color: #fff;
  padding: 10px 50px 10px 10px;;
}