

.category {
  font-size: 38px;
  display: flex;
  justify-content: space-around;
}

.name {
  font-size: 43px;
  display: flex;
  justify-content: space-around;
}

.price {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}
.sale {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}

.defaultPrice {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}

.changeSale {
  
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    text-decoration: line-through;
    text-decoration-color: red;
}

.style {
  font-size: 38px;
  display: flex;
  justify-content: space-around;
  
}

.selected {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  cursor: pointer;
  background-color:#fff;
  border:1px solid red;    
  height:75px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:100px;
}