.gridContainer {
  display: grid;
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 250px;
  color: #808080;
  font-size: 20px;
  grid-template-columns: 0.5fr 0.2fr 1.5fr 0.5fr;
  grid-template-rows: repeat(1fr 1fr 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "Product-Breakdown Product-Breakdown Reviews-List Reviews-List"
    "Product-Breakdown Product-Breakdown Reviews-List Reviews-List"
    ". . . .";
}

.reviewsList {
  grid-area: Reviews-List;
  max-height: 55vh;
  min-height: 55vh;
  overflow: auto;
}

.productBreakdown {
  grid-area: Product-Breakdown;
  padding-top: 35px;
  text-align: left;
}

.reviewTile{
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.reviewButtons{
  display: in-line;
  margin-right: 20px;
  padding: 20px;
  color: white;
  font-size: 15px;
  line-height: 20px;
  background-color: #26A7BA;
}

.reviewSummary{
  font-size: 20px;
  font-weight: bold;
}

.userDate{
  font-size: 12px;
  text-align: right;
  opacity: 80%;
  margin-bottom: 15px;
}

.thumbnails{
  display: inline;
}

.smallImg{
  display: inline;
  margin-top: 10px;
  margin-right: 10px;
  height: 70px;
  width: 70px;
}

.showMore{
  margin: 10px;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}